@model IEnumerable<KisiselBlog.Models.Sayfalar>

@{
    ViewData["Title"] = "sayfalar";
    Layout = "~/Views/Shared/_yonetimtema.cshtml";
}

<h1>sayfalar</h1>

<p>
    <a asp-action="ekle">yeni sayfa ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SayfaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icerik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktif)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Silindi)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SayfaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Baslik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Icerik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aktif)
                </td>
                @*            <td>
                    @Html.DisplayFor(modelItem => item.Silindi)
                    </td>*@
                <td>
                <td>
                    <a asp-action="sayfagetir" asp-route-id="@item.SayfaId">Duzenle</a> |
                    <a asp-action="sayfasil" asp-route-id="@item.SayfaId" onclick="return confirm('bu birim silinecek ?')">Sil</a>

                </td>
            </tr>
        }
    </tbody>
</table>



